//* vim: filetype=txt: formatoptions-=c: formatoptions-=r: formatoptions-=o: syntax=m4

//* Pause program execution
alias hlt "vm.halted 1"

//* Stack Operations
alias push  "RPN_CMD ${1} dbpush"
alias pop   "RPN_CMD /vm.last_popped dbpop ="
alias dup   "RPN_CMD dbget dbpush"
alias dot   "pop; vm.print_cvar vm.last_popped"

alias vm.print_cvar "ECHO ${$1 !}"

//* Arithmetic Operations
alias add   "RPN_CMD dbpop dbpop + dbpush"
alias sub   "RPN_CMD dbpop dbpop exch - dbpush"
alias mul   "RPN_CMD dbpop dbpop * dbpush"
alias div   "RPN_CMD dbpop dbpop exch / dbpush"
alias pow   "RPN_CMD dbpop dbpop exch ** dbpush"
alias mod   "RPN_CMD dbpop dbpop exch % dbpush"
alias max   "RPN_CMD dbpop dbpop max dbpush"
alias min   "RPN_CMD dbpop dbpop min dbpush"

//* Boolean Operations
alias and   "RPN_CMD dbpop dbpop and dbpush"
alias or    "RPN_CMD dbpop dbpop or dbpush"

#if /gameversion load 806 <=
  @ #define __rpn_not dup not
#else
  @ #define __rpn_not not
#endif

"alias" not "RPN_CMD dbpop ${__rpn_not} dbpush"

//* Comparison Operations
alias iseq  "RPN_CMD dbpop dbpop == dbpush"
alias isgt  "RPN_CMD dbpop dbpop exch > dbpush"
alias isge  "RPN_CMD dbpop dbpop exch >= dbpush"
alias islt  "RPN_CMD dbpop dbpop exch < dbpush"
alias isle  "RPN_CMD dbpop dbpop exch <= dbpush"
alias isne  "RPN_CMD dbpop dbpop != dbpush"

//* Jump Instructions
alias jmp "RPN_CMD /vm.ip ${1 !} 1 - ="
alias jif "RPN_CMD \"//vm.ip ${1 !} 1 - =\" \"//vm.null 0 put\" dbpop when eval"

//* Jump to address specified by the stack head
alias jmp_vfs "RPN_CMD /vm.ip dbpop 1 - ="

//* Jump to address specified by the stack head,
//* only if stack(stack.pos - 1) == 1
alias jif_vfs "RPN_CMD \"//vm.ip dbpop 1 - =\" \"//vm.null 0 put\" dbpop dbpop exch dbpush when eval"

//* Variable Storing and loading.
//* store_l and load_l are for saving and loading local variable
//* these variable have local scope, associated with the frame
alias store_l "RPN_CMD /${vm.frame !}.${1 !} dbpop put"
alias load_l "RPN_CMD /${vm.frame !}.${1 !} get dbpush"

//* Global variables
//* These variables have global scope
alias store_g "RPN_CMD /${1 !} dbpop put"
alias load_g "RPN_CMD /${1 !} get dbpush"

//* Get data from the rom.
alias rload "RPN_CMD /__vm.rload_aname dbpop \"${vm.execns !}%s\" sprintf1s =; __rload"
alias __rload "${__vm.rload_aname}"

//* load and store using key value from stack
alias store_vfs "RPN_CMD dbpop dbpop exch put"  //* void store_vfs(int key, int value)
alias load_vfs  "RPN_CMD dbpop get dbpush"      //* int load_vfs(int key))

//* Function calls and return
alias call "vm.rpush; jmp ${1 !}"
alias ret "RPN_CMD \"//vm.do /vm.rpop =\" \"//vm.do vm.log.error.InvalidRetOpcode =\" /vm.frame load when eval; vm.do_pending"

set vm.do ""
alias vm.do_pending "${vm.do !}"
alias vm.log.error.InvalidRetOpcode "VM_LOG_ERROR(`invalid ret instruction at address ${vm.ip !} frame ${vm.frame !}')"

//* call vector from stack - use the stack head as the
//* pointer to a function used for interrupt routines
alias call_vfs "vm.rpush; RPN_CMD /vm.ip dbpop 1 - ="

