name: Make CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # Installing build dependencies is not needed.
    - name: Build Script
      run: make

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: stackvm
        path: stackvm.cfg
        retention-days: 30
