name: Make CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Build Dependencies
      run: sudo apt install m4 -y

    - name: Build Script
      run: make

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: StackVM script
        path: stackvm.cfg
        retention-days: 30
